.kix-lineview-content {
  position: static !important;
}

.box {
  position: absolute;
  opacity: 0;
  background-color: white;
  margin-top: 0.75em;
  padding: 1em 1em 1em 1em;
  z-index: 20;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options_border {
  border-top: 1px solid grey;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

mark {
  background-color: white!important;
  border-bottom: 1px solid blue;
}
